name: Code Style

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"
      - run: npm install
      - run: npx prettier -w .
      - run: echo "::add-matcher::.github/diff.json"
      - name: Show diff
        run: |
          git checkout -- package-lock.json
          git diff --exit-code
